header {
    position: relative;
}

.navBar {
    position: absolute;
    top: 5px;
    right: 20px;
}

.navigation {
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    color: white;
    vertical-align: middle;
}

.imgBanner {
    display: none;
}

a[href="#bottomPage"] {
    font-size: 20px;
	font-weight: bold;
	text-decoration:none;
}

a[href="order.html"] {
	text-decoration:none;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: rgba(255, 255, 255, 0.7);
    
    z-index: -1;
}

body {
    background-image: url("Images/CoffeeBanner.jpg");
    background-size: cover;
    background-position: center;
}

#welcome {
    margin: 40px auto 20px auto;
    font-family: Sansita, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    width: 60%;
}

#orderCoffee {
    display: block;
    margin: 40px auto;
	font-size: 20px;
    padding: 15px 35px;
	font-weight: bold;

    border-radius: 8px;
}

.coffee {
    width: 70%;
    margin: auto;
    padding: 30px;
	font-size: 20px;
	font-family: Sansita, Arial, Helvetica, sans-serif;
}

.coffee img {
    display: block;
    margin: auto;
    width: 500px;
}

a[href="#title"] {
    display: block;
    text-align: center;
    margin-top: 15px;
	font-weight: bold;
	text-decoration:none;
}

footer {
    text-align: center;
    padding: 15px;
    background-color: #94C6D3;
}

#title {
    background-color: #A28973;
    color: white;
    padding: 10px;
    margin: 0;
	font-size:20px;
}

/* About */
.about .coffee:nth-of-type(3), 
.about .coffee:nth-of-type(4) {
  background-color: white;
}

.about .coffee {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.about .coffee #banner {
  border-radius: 50%;
}

.about .coffee #about:first-child {
    top: -15px;
}

.about .coffee #about {
  position: relative;
  left: -14px;
  width: 98%;
  background-color: #E31C79;
  padding: 20px;
  margin: 10px;
}

.about ul {
    display: flex;
    padding: 0;
    gap: 10px;
}

.about li {
    flex: 1;
}

.about .coffeeVideo {
    width: 100%;
    height: 300px;
}

.about .coffee .teamMember {
    width: 100%;
    height: 275px;
    object-fit: fill;
}

.about .coffee tr {
    display: flex;
    padding: 0;
    gap: 15px;
}

.about .coffee td {
    flex: 1;
}

.about .coffee .definition {
    width: 70%;
    margin: auto;
    padding: 30px;
	font-size: 20px;
	font-family: Sansita, Arial, Helvetica, sans-serif;
}

/* end of About */
